<script id="current_user_script" type="text/javascript">
  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>

  window.images = {
      1: "<%= image_path('1.jpeg') %>",
       2: "<%= image_path('2.jpeg') %>",
      3: "<%= image_path('3.jpeg') %>",
      4: "<%= image_path('4.jpeg') %>",
      5: "<%= image_path('4.jpeg') %>"
      6: "<%= image_path('6.jpeg') %>",
      img_show: "<%= image_path('img_show.jpg') %>",
      img_test: "<%= image_path('img_test.jpg') %>",
    	  }
</script>


<div id="root">

</div>
