<!DOCTYPE html>
<html>
  <head>
    <title>EventDoneSimple</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBi7s4i_SvMgRoSl-gDKUqLO71i1Us9lX8&libraries=places" %>
    <script type="text/javascript">
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
